<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <title>RGS login</title>
</head>
<body>
<!-- header -->
<div th:replace = "layout/commonHeader :: header">My header will go here</div>

<!-- content -->
<section layout:fragment="content">
    <p> Replcae this with a page</p>
</section>

<!-- footer -->
<div th:replace = "layout/commonFooter :: footer">My footer will go here</div>
<script src = "/js/bootstrap.bundle.js"></script>
</body>
<html/>